header {
    position: fixed;
    width: 100%;
    /* Establecemos que el header abarque el 100% del documento */
    overflow: hidden;
    /* Eliminamos errores de float */
    background: #fafafa;
    margin-bottom: 20px;
    border-radius: 2px;
    border-bottom: 1px solid rgb(190, 184, 184);
}

body,
h4,
html {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

h4 {
    border-radius: 3px;

}

.logo {
    background-color: lightgrey;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 2px;
    padding-bottom: 10px;
    padding-top: 6px;
    color: lightseagreen;
    padding-left: 40px;

}

.contenido-header {
    color: black;
    border-radius: 2px;
    padding-bottom: 25px;
}

.of-people,
.of-people2 {
    font-size: larger;
    color: black;
    border-radius: 2px;
    width: 90%;
    overflow: hidden;
    padding-left: 50px;
    text-decoration: none;
}

.of-people2 {
    font-size: small;
}

.Developer-css {
    text-decoration: none;
    color: black;
    padding-left: 1050px;
}

.Developer-css:hover {
    color: inherit;
}

.Developer-text {
    padding-left: 20px;
    position: fixed;
    text-decoration: none;
}

.lupa {
    margin-left: 600px;


}

.lupa-img {
    padding-right: 10px;

    border-right: 2px solid lightslategrey;
}

.Sesion {
    color: lightseagreen;
    text-decoration: none;
    border-radius: 3px;
    border-right: 2px solid lightseagreen;
    border-left: 2px solid lightseagreen;
    border-bottom: 2px solid lightseagreen;
    border-top: 2px solid lightseagreen;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.registrate {
    margin-left: 15px;
    text-decoration: none;
    background-color: lightseagreen;
    color: #fafafa;
    border-radius: 3px;
    border-right: 2px solid lightseagreen;
    border-left: 2px solid lightseagreen;
    border-bottom: 2px solid lightseagreen;
    border-top: 2px solid lightseagreen;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.nav,
.content {
    margin-left: 25%;
    margin-right: 25%;
}

.content {
    border-radius: 40px;
    padding-top: 130px;
    text-align: left;
}

.nav-home,
.nav-digital {
    text-decoration: none;
    color: black;
}

.nav-digital {
    padding-left: 6px;
}

.entrar {
    padding-left: 60px;
}

.Menu {
    scale: none;
    padding-top: 10px;
    padding-left: 25px;
}

div:hover .Menu {
    scale: 1.5;

}

.Digital-div {
    display: grid;
    margin-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 100px;
    width: 25%;
    background-color: rgb(240, 242, 255);

}

.Digital {
    text-align: center;
    font-size: small;
    color: #33344f;
    text-decoration: none;
}

.autor {

    background-color: red;
    width: 90%;
}

.datos-autor {
    padding-bottom: 40px;
    padding-top: 25px;
    text-align: left;
}

.hans {
    display: inline;
    padding-left: 20px;
    padding-right: 170px;
}

.articulo {
    padding-left: 10px;
}

.min {
    padding-left: 10px;
}

.articulo,
.hans,
.min {
    display: inline;

}

.file,
.file2 {
    width: 20px;
    height: 20px;
}

.file2 {
    padding-left: 15px;
}

.user {
    width: 30px;
    height: 30px;
}

.text-indice {

    display: inline;
    font-size: large;
    padding-left: 20px;
}

.arrow-up {
    width: 30px;
    height: 30px;
}

.indice {
    border-radius: 10px;
    margin: 15px;
    padding: 15px;
    background-color: #f2f3f5;
}

.arrow-abajo {
    display: none;
}

.arrow-li {
    display: none;
}

#li:hover .indice-li {
    display: flex;
}

#arrow-Up:hover .arrow-up {
    display: flex;
    transform: rotate(180deg);
}

#arrow-Up:hover .arrow-li {
    display: flex;

}

.img-content {
    width: 600px;
    height: 300px;
}

.indice-ordenado {
    color: inherit;
    outline: none;
    text-decoration: none;
}

a:visited {
    color: inherit;
}

@media (max-width: 1330px) {
    .Developer-css {
        padding-left: 1000px;
    }

    .lupa {
        margin-left: 450px;
    }
}


@media (max-width: 950px) {
    .Developer-text {
        padding-left: 0px;
    }

    .of-people {
        padding-left: 30px;
    }

    .of-people2 {
        padding-left: 0px;
    }

    .entrar {
        margin-left: 10px;
        text-decoration: none;
        background-color: lightseagreen;
        color: #fafafa;
        border-radius: 1px;
        border-right: 1px solid lightseagreen;
        border-left: 1px solid lightseagreen;
        border-bottom: 1px solid lightseagreen;
        border-top: 1px solid lightseagreen;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 2px;
        padding-bottom: 2px;
    }

    .Developer-css {
        padding-left: 130px;
    }

    .Sesion,
    .registrate {
        display: none;
    }

    .lupa {
        margin-left: 6px;
    }

    .img-content {
        padding-right: 40%;
        width: 200px;
    }

    p {
        font-size: small;
    }

    .nav-digital,
    .nav-home {
        font-size: x-small;
        padding-left: 6px;
    }

    .contenido-header {
        padding-bottom: 10px;
    }

    .of-people2 {
        display: none;
    }

    .file,
    .file2 {
        padding-top: 20px;
        width: 15px;
        height: 15px;
    }

    .file2 {
        padding-left: 10px;
    }

    .user {
        width: 20px;
        height: 20px;
    }

    .text-indice {

        display: inline;
        font-size: large;
        padding-left: 15px;
    }

    .arrow-up {
        width: 20px;
        height: 20px;
    }

    .indice {
        border-radius: 20px;
        margin: 0px;
        padding: 10px;
        background-color: #f2f3f5;
    }
    .Digital {
        text-align: center;
        font-size: small;
        color: #33344f;
        text-decoration: none;
    }
    
    .autor {
    
        background-color: red;
        width: 90%;
    }
    
    .datos-autor {
        padding-bottom: 30px;
        padding-top: 25px;
        text-align: left;
    }
    
    .hans {
        display: inline;
        padding-left: 5px;
        padding-right: 0px;
    }
    
    .articulo {
        padding-left: 5px;
    }
    
    .min {
        padding-left: 5px;
    }
    .img-content {
        padding-left: 10%;
        width: 200px;
        height: 200px;
    }
    .Digital-div {
        
        width: 95%;
      
    
    }
    .content {
        margin-left: 5%;
        margin-right: 5%;
    }
    
}

@media (min-width:950px) {
    .entrar {
        display: none;
    }

}